body{
    background: url(../img/city.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:100%;
    width:100%;
    height:100%;
}
.adress{

    position:absolute;
    height:11% ;
    border: 6px solid gray;
    border-style: solid;
    padding: 5px;
    width:98%;


}
.listing{

    border: 6px solid gray;
    position:absolute;
    top:15%;
    left:80%;
    padding:9%;
    width:18px;
    height:46%;
    text-align:left;
}

